.chart-container {
    position: relative;
    width: 16%;
    height: 218px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.chart:not(:last-child) {
    border-right: 2px solid #EFEFEF;
    height: 174px;

}