.chart-section {
    width: 80%;
}

.chart-container {
    position: relative;
    width: 132.04px;
    display: flex;
    align-items: center;
    border-right: 2px solid #EFEFEF;
}

.chart-container+.chart-container {
    margin-left: -3px;
}