.internship-insights-section {
    display: flex;
    background-color: #FFFFFF;
    gap: 10px;
    padding: 16px;
    border-radius: 16px;
}

.internship-insights-container {
    background-color: #F6F5F9;
    border-radius: 16px;
    flex-basis: 248px;
    padding: 16px;
}

.internship-insights-heading{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 12px;
}

.internship-insights-content {
    font-weight:400;
    font-size: 14px;
    line-height: 20px;
    vertical-align: "top";
    letter-spacing: 0.3px;
    width: 229px;
}

.internship-insights-segment-charts{
    width:70%;
}