.segment-container {
    display: flex;
    background: #F2F2F2;
    padding: 8px;
    justify-content: space-between;
    width: 100%;
}

.segment-buttons {
    border: none;
    background: #FFFFFF;
    height: 32px;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 6px;
}

.segment-buttons:nth-of-type(1) {
    margin-right: 12px;
}

.active {
    color: #F2F2F2;
    background: #793EF5;
}


.date-container {
    width: 120px;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 6px;
}


.date-container span {
    position: absolute;
    left: 30px;
    bottom: 5px;
}

.date {
    width: 15px;
    border: 0px none transparent;
    position: absolute;
    left: 5px;
    bottom: 3px;

}