.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 57px;
    width: 75%;
}

.header-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    vertical-align: center;
    letter-spacing: 0.3px;
}